<h2> Create flier </h2>

<%= form_for @flier, :url => {:action => :create},
  :html => {:multipart => true} do |f| %>


<%= f.label :title %>
<%= f.text_field :title %>
<br/>
<br/>
<%= f.label :tag, 'Tagline' %>
<%= f.text_field :tag, :size => '40' %>
<br/>
<br/>
<%= f.label :description, 'Description' %>
<%= f.text_area :description, :size => '25 x 6' %>
<br/>
<br/>
<%= f.label :start_time, 'Start Time' %>
<%= f.datetime_select :start_time %>
<br/>
<br/>
<%= f.label :end_time, 'End Time' %>
<%= f.datetime_select :end_time %>
<br/>
<br/>
<%= f.hidden_field :community_id, :value => current_user.community_id %>
<br/>
<br/>
<%= f.file_field :image %>
<br/>
<br/>
<%= f.select :privacy_status, options = {'Public' => '1', 'Private' => '0'} %>
<br/>
<br/>
<%= f.submit %>
<% end %>
