<!DOCTYPE html>
<html>
  <head>

    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/header' %>
  </head>
  <body>

    <div class="container">

 

        <h1> What's hap'nin, right now. </h1>

          <% @myfliers_for_liveboard.each do |myflier| %>

          <div class="fliers shadow">
            <%= image_tag Flier.find_by_id(myflier.flier_id).image.url(:thumb), class: "flimg" %>
            <%= link_to  Flier.find_by_id(myflier.flier_id).title, show_flier_path(:id => myflier.flier_id), class: "fltit" %>
            <%= myflier.myscore %>
            
            <% if @fliers_for_adding.include?(Flier.find_by_id(myflier.flier_id)) %>
            <%= button_to 'Add to MyBoard', myboard_add_flier_path(:flier_id => myflier.flier_id), class: "btn fladd" %>
                <% else %>
            <p> Already added </p>
            <%end%>
          </div>
           <%end%>
         

        <br/><br/><br/><br/><br/><br/><br/>

      <%= render 'layouts/footer' %>

    </div>
  </body>
</html>

