<!DOCTYPE html>
<html>
<head>
  <title>Lbdevelopmentv03</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag :defaults, "rails.validations" %>  
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>

